<!DOCTYPE html>
<html lang = "en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content ="IE=edge">
   <meta name="viewport" content="width=device-width, intial-scale=1.0">
   <title> Una Prueba de CSS</title>
</head>

<head>
    <title>Más selectores</title>
  </head>    
  <body>
    <h1 id="gigante">Desarollo Web Full-Stack</h1>
    
    <h3>HTML5</h3>
    <p class="negrita">Descripción</p>
    <P>Estructura y maquetado</P>
    
    <h3>CSS</h3>
    <p class="negrita">Descripción</p>
    <p>Estilos y apariencia</p>
    
    <h3>JS</h3>
    <p class="negrita">Descripción</p>
    <p>Interacción y dinamismo</p>
  </body>

</html>